body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 780px;
}

.keyboard {
  margin: 0 auto;
  width: 780px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.key {
  border: 1px solid #000000;
  padding: 15px;
  cursor: pointer;
}

.area {
  width: 100%;
  height: 200px;
  height: 200px;
}

.active {
  background-color: #ff0000;
}

.row {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.Space,
.key[data=" "] {
  flex-basis: 35.1%;
}

.ShiftLeft,
.ShiftRight,
.Enter,
.key[data$="hift"] {
  flex-basis: 10%;
}